/*.css file for pandemic bio-terrorist page*/
/*created 4/1 by Tori Woodhouse*/
/*last updated 4/3*/
body
{
margin:0;
padding:0;
background-color:#F0FDFF;
}
h1
{
font-family:Charcoal,Impact,sans-serif;
font-size:25px;
color:#450000;
margin-left:30%;
text-align:left;
letter-spacing:3px;
text-shadow: -3px 3px 10px #FF0000;
}
p
{
font-family:Charcoal,Impact,sans-serif;
font-size:15px;
float:left;
}
#oneAction
{
height:60px;
width:720px;
float:left;
margin-left:15%;
}
#board
{
position:relative;
left:4%;
/*float:left;*/
}
#pawn
{
position:absolute;
left:-30px;
top:200px;
z-index:+1;
opacity:0.9;
}
#oneTurn
{
margin-left:30%
}
#toggles
{
margin-top:25px;
height:30px;
width:150px;
float:right;
}